services:
  jekyll:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
      - jekyll_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development
      - SASS_EMBEDDED_HOST=0.0.0.0
      - SASS_EMBEDDED_PORT=0
    command: bundle exec jekyll serve --host 0.0.0.0 --force_polling --livereload --trace

volumes:
  jekyll_cache:
