services:
  jekyll:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    platform: linux/arm64
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
      - jekyll_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development
    command: bundle exec jekyll serve --host 0.0.0.0 --force_polling --livereload

volumes:
  jekyll_cache:
